.view,
.wrap {
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

hr {
  border: 0;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 73.75rem;
  box-sizing: border-box;
  border-bottom: 1px solid hsla(0, 0%, 100%, .3);
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.4;
}

.main {
  padding-top: 90px;
  height: 100%;
  min-height: 100vh;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}
