.btn, .btn:hover .btn:active, .btn:focus, .btn:active:focus {
  color: $white;
  border-radius: $base-radius;
  outline: 0;
  cursor: pointer;
  padding: 8px 19px;
  margin: 0;
  font-weight: normal;
  line-height: normal;
  box-shadow: none;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: initial;
  @include transition(all, .3s);
  &.-lg {
    padding: 14px 35px;
  }
  &.-sm {
    padding: 2px 11px;
  }
  &.-small {
    font-size: 13px;
    padding: 11px 20px;
  }
}

.btn-blue {
  background-color: $blue;
  border: 2px solid $blue;
  margin-bottom: 0;
  color: $white;
  font-weight: normal;
  line-height: normal;
  &:hover, &:focus, &:active, &:active:focus {
    background-color: transparent;
    border: 2px solid $blue;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 0;
    color: $blue;
  }
}

