html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  color: $grey;
  background: $white;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

a, button {
  @include transition(all, .2s);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 22px;
}

h5 {
  font-size: 15px;
}

p {
  line-height: 1.6;
}

* {
  outline: none;
}

b, strong {
  font-weight: 600;
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}